In [2]:
import pandas as pd
import numpy as np

### Python Review

### How would you access the value 5 in the array a?

a[4]

### Suppose we have a class fish, make a diagram similar to the cat class diagram showing 3 ### attributes for the class and 3 methods.

class fish:
    attribute:
        weight
        clade
        length
    methods:
        tail rate
        eat
        sleep

### We can also call the min method without any parameters:

### var.min()

### 1
### What kind of parameter is axis in our previous call of the var method?

Axis is specifying if we are looking at the columns or rows. Previously we said to find the min in a row

In [10]:
a = a = np.array([[1,1,2],[3,5,8]])
type(a.min)

builtin_function_or_method

In [12]:
# sep is optional
num_1 = 77
num_2 = 99

print(num_1, num_2, num_1, sep="%")

77%99%77


<h4 align = "left", style="border-bottom: 3px solid white; padding-bottom: 20px;">
  The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D.
    In the pandas.Series documentation, look for the method mask(). Use this method to update the series s so that the -999 values are replaced by NA values. HINT: check the first example in the method’s documentation.
</h4>

In [15]:
s = pd.Series(data = [1, -999, 2, -999], index = ["A", "B", "C", "D"])
s_clean = s.mask(s <= -999)
s_clean

A    1.0
B    NaN
C    2.0
D    NaN
dtype: float64

<h4 align = "left", style="border-bottom: 3px solid white; padding-bottom: 20px;">
  We can access the data frame’s column names via the columns attribute. Update the column names to C1 and C2 by updating this attribute.
</h4>

In [22]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)

df.columns = ["C1", "C2"]
print(df)

   C1   C2
0   0  3.1
1   1  3.2
2   2  3.3